<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>confaber</display-name>

  <servlet>
    <servlet-name>RegisterUserDB</servlet-name>
    <servlet-class>servlet.RegisterUserDB</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeID</servlet-name>
    <servlet-class>servlet.ChangeID</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePass</servlet-name>
    <servlet-class>servlet.ChangePass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginDB</servlet-name>
    <servlet-class>servlet.loginDB</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Main</servlet-name>
    <servlet-class>servlet.Main</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Unsubscribe</servlet-name>
    <servlet-class>servlet.Unsubscribe</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegisterUserDB</servlet-name>
    <url-pattern>/RegisterUserDB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeID</servlet-name>
    <url-pattern>/ChangeID</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePass</servlet-name>
    <url-pattern>/ChangePass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginDB</servlet-name>
    <url-pattern>/loginDB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Unsubscribe</servlet-name>
    <url-pattern>/Unsubscribe</url-pattern>
  </servlet-mapping>
</web-app>
